<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="person" class="org.prathamesh.Person" scope="prototype">  for multiple objects, singleton for single-->

    <bean id="person" class="org.prathamesh.Person" autowire="byName">
<!--        <constructor-arg value="21"/>-->
<!--        <constructor-arg ref="laptop"/>-->
        <!-- Sequence is important if no type is mentioned use index for total control,
         add ConstructorProperties for using names-->

        <property name="age" value="21"/>
<!--        <property name="lap" ref="laptop"/>-->
    </bean>

    <bean id="com" class="org.prathamesh.Laptop"/>
    <bean id="com1" class="org.prathamesh.Desktop"/>

</beans>